<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.securi">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <uses-permission android:name="android.permission.NFC" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logoicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".securi_notiinfo"></activity>
        <activity android:name=".securi_datainfo" />
        <activity android:name=".securi_serverinfo" />
        <activity android:name=".securi_addnfc" />
        <activity android:name=".securi_autoopen" />
        <activity android:name=".securi_entryhistory" />
        <activity android:name=".securi_home" />
        <activity android:name=".securi_join" />
        <activity android:name=".securi_login" />
        <activity android:name=".securi_mypage" />
        <activity android:name=".securi_outdoorinfo" />
        <activity android:name=".securi_popup" />
        <activity android:name=".securi_sensor" />
        <activity
            android:name=".LoadingActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>